.container {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #ad0707;
    color: white;
}

.container > img {
    margin: 0 1rem;
}

.container > h1 {
    font-weight: 500;
}